<footer class="site-footer">
  <div class="content-wrapper" style="flex-direction: column;">
    <div class="footer-links">
      <ul class="social-icons">
        {% for p in site.pages %}
          {% assign parts = p.url | split: '/' %}
          {% if parts.size == 2 and p.title and p.url != '/' and p.url != '/index.html' %}
            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="footer-copyright">
      <span>Copyright © {{ "now" | date: "%Y" }} {{ site.title }}. All rights reserved.</span>
    </div>
  </div>
</footer>
