<header class="masthead">
  <div class="masthead__inner-wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="greedy-nav">
      <ul class="visible-links">
        {% for p in site.pages %}
          {% assign parts = p.url | split: '/' %}
          {% comment %} Only show top-level sections and exclude the posts folder {% endcomment %}
          {% unless p.path contains "posts/" %}
            {% if parts.size == 2 and p.title and p.url != '/' and p.url != '/index.html' %}
              <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
